@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flex-center($direction, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  height: $height;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background-image: $background-light;
    color: black;
  } @else {
    background-image: $background-dark;
    color: white;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

.dark-theme-toggle {
  border: 10px transparent solid;
  position: sticky;
  top: 0;
}

.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  background-image: $background-light;
}

.main-wrapper-light {
  @include theme($light-theme: true);
}

.main-wrapper-dark {
  @include theme($light-theme: false);
}

.map-wrapper {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
  overflow-x: hidden;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.no-results-message {
  color: red;
}

.page-title {
  text-align: center;
  font-weight: bold;
  width: 70vw;
}

.m-1 {
  width: 250px;
}

// scroll
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(46, 45, 45);
  border-radius: 10px;
  border: solid 1px rgb(54, 54, 54);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(54, 48, 65);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 48, 65);
}
