.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  background-image: linear-gradient(
    to right top,
    #b7e0d9,
    #afd8d8,
    #a9cfd6,
    #a6c5d3,
    #a5bccd,
    #a1b7c8,
    #9db2c2,
    #99adbd,
    #91abb8,
    #8aa9b1,
    #84a6a9,
    #81a3a1
  );
}

a {
  color: #ff6e00;
}

#source {
  background: rgba(27, 31, 35, 0.08);
  width: 290px;
  padding: 8px;
  border-radius: 20px;
  margin: 15px auto;
  text-align: center;
}

#source a {
  font-weight: bold;
}

table td {
  vertical-align: top;
}

table tr:nth-child(2) th {
  text-align: left;
  height: 25px;
}

h1 {
  padding: 20px 0 20px 55px;
  margin: 0 0 0 20px;
  /* background: url("video-camera-icon.png") no-repeat; */
  background-size: 40px;
  background-position: 0 50%;
}

#cameraTableContainer {
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0 20px;
  height: 100%;
  vertical-align: top;
}

#cameraTableContainer > td {
  width: 25%;
  text-align: center;
}

#cameraTableContainer table {
  width: 200px;
  margin: auto;
  height: 100%;
  border-collapse: collapse;
}

#cameraTableContainer table tbody tr {
  height: 25px;
  vertical-align: middle;
}

#cameraTableContainer table tbody td {
  padding: 5px 0;
}

#cameraTableContainer table td:nth-child(1) {
  height: 15px !important;
  margin-right: 15px;
  font-weight: bold;
  border-radius: 20px;
}

#cameraTableContainer table tr:last-child td {
  height: 100%;
}

.map-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.no-results-message {
  color: red;
}
